
.container{
    display: flex;
}
.basic-info{
flex:2;
order:1;
}
.additional-info{
flex:3;
order:2;
}
#intro{
flex:1;
order:1;
}
#introPic{
flex:1;
order:2;
}
#foot{
    flex:1;
    order:1;
}
